.contacto-container {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #38b6ff, #c8f7ff);
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 10%;
  font-weight: bolder;

  h1 {
    color: #14c4c7;
    margin-bottom: 15px;
  }

  p {
    font-size: 15px;
    color: #333;
    margin-bottom: 30px;
  }

  .icon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }

  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #333;

    i {
      font-size: 34px;
      color: #14c4c7;
      margin-bottom: 5px;
      transition: 0.2s ease;

      &:hover {
        color: #0ea3a6;
        transform: scale(1.1);
      }
    }
  }

  .back-btn {
  margin-top: 25px;
  padding: 10px 20px;
  background: #14c4c7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 600;

  &:hover {
    background: #18a7a7;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0px);
  }
}

}
