/* Estilos globales */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo general */
body {
  font-family: "Inter", system-ui, sans-serif;
  background: #f4f6f9;
  color: #1a1a1a;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

/* Links */
a {
  text-decoration: none;
  color: #0d6efd;

  &:hover {
    text-decoration: underline;
  }
}
