$primary: #14c4c7;
$primary-dark: #0ea3a6;
$blue-strong: #003c5f;
$white: #ffffff;
$gray-300: #d4d4d4;

.register-container {
  width: 100%;
  height: 100vh;

  background: linear-gradient(135deg, #14c4c7 0%, #d6fafa 60%, white 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  width: 520px;
  background: $white;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);

  h2 {
    text-align: center;
    color: $blue-strong;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .subtitle {
    text-align: center;
    margin-bottom: 25px;
    color: #6c757d;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .row-group {
      display: flex;
      gap: 10px;

      input {
        width: 100%;
      }
    }

    input {
      padding: 12px;
      border-radius: 10px;
      border: 1px solid $gray-300;
      font-size: 15px;

      &:focus {
        outline: none;
        border: 1px solid $primary;
        box-shadow: 0 0 4px rgba($primary, 0.4);
      }
    }

    label {
      font-size: 14px;
      color: #6c757d;
      margin-bottom: -8px;
    }

    .btn-register {
      background: $primary;
      border: none;
      color: white;
      padding: 12px;
      border-radius: 10px;
      width: 100%;
      font-size: 17px;
      font-weight: 600;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: $primary-dark;
      }
    }
  }

  .login-text {
    text-align: center;
    margin-top: 15px;
    color: #6c757d;

    span {
      color: $primary;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
